.DS_Store
.idea
benchmark.json
save_results/models/constituent/*
save_results/models/relation/*
data/OIE2016(processed)/constituent_model/joint_model_data_albert/*
data/OIE2016(processed)/relation_model/relation_model_data_linking/*